/******************* Reset *****************************/
/* not needed due to Bootstrap in the code */
/*
html {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}
*/

/* ********************* main styles ******************************/
.features {
    display: flex;
    justify-content: space evenly;
}

.features > .card {
    width: 28%;
}

.contact-img-form-container {
    display: flex;
}
