/******************* Reset *****************************/
html {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    box-sizing: inherit;
    /* not needed due to Bootstrap in the code */
    /* 
    margin: 0;
    padding: 0;
    */
}

